Objective:
• Employ SVM from scikit learn for binary classification.
• Impact of preprocessing data and hyper paramter search using grid search.
Questions:
1. Load the data from “college.csv” that has attributes collected about private and public colleges for a particular year. We will try to predict the private/public status of the college from other attributes.
2. Use LabelEncoder to encode the target variable in to numerical form and split the data such that 20% of the data is set aside for testing.
3. Fit a linear svm from scikit learn and observe the accuracy.
[Hint: Use Linear SVC]
4. Preprocess the data using StandardScalar and fit the same model again and observe the change in accuracy.
[Hint: Refer to scikitlearn’s preprocessing methods]
5. Use scikit learn’s gridsearch to select the best hyperparameter for a non-linear SVM, identify the model with best score and its parameters.
[Hint: Refer to model_selection module of Scikit learn]

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dfcollege = pd.read_csv('College.csv')

In [4]:
dfcollege.sample(5)

,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
160,Yes,571,461,174,10,26,645,283,10850,3670,400,1159,58,60,12.8,19,7505,56
572,No,3150,2289,650,16,51,3598,234,6840,4660,500,1000,71,75,15.1,17,6436,59
666,Yes,4044,2826,688,51,83,2738,138,16230,4500,630,1800,79,86,15.0,17,11217,63
97,Yes,1307,1090,616,25,55,2196,82,7344,4410,570,1000,50,52,15.3,34,6897,64
775,Yes,10705,2453,1317,95,99,5217,83,19840,6510,630,2115,96,96,5.8,49,40386,99

In [8]:
dfcollege.shape

(777, 18)

In [9]:
dfcollege.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777 entries, 0 to 776
Data columns (total 18 columns):
Private        777 non-null object
Apps           777 non-null int64
Accept         777 non-null int64
Enroll         777 non-null int64
Top10perc      777 non-null int64
Top25perc      777 non-null int64
F.Undergrad    777 non-null int64
P.Undergrad    777 non-null int64
Outstate       777 non-null int64
Room.Board     777 non-null int64
Books          777 non-null int64
Personal       777 non-null int64
PhD            777 non-null int64
Terminal       777 non-null int64
S.F.Ratio      777 non-null float64
perc.alumni    777 non-null int64
Expend         777 non-null int64
Grad.Rate      777 non-null int64
dtypes: float64(1), int64(16), object(1)
memory usage: 109.3+ KB

In [7]:
from sklearn.preprocessing import LabelEncoder
labencoder = LabelEncoder()

In [11]:
dfcollege['Private'] = labencoder.fit_transform(dfcollege['Private'].astype('str'))

In [12]:
X = dfcollege.drop('Private', axis = 1)

In [14]:
y= dfcollege.Private

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.3, random_state=5)

In [19]:
from sklearn.svm import SVC

In [35]:
svcmodel = SVC(C=1, kernel='linear', gamma=1)

In [36]:
svcmodel.fit(X_train,y_train)

SVC(C=1, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=1, kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [37]:
prediction = svcmodel.predict(X_test)

In [38]:
accuracy_score(y_test, prediction)

0.9401709401709402

4. Preprocess the data using StandardScalar and fit the same model again and observe the change in accuracy.
[Hint: Refer to scikitlearn’s preprocessing methods]
5. Use scikit learn’s gridsearch to select the best hyperparameter for a non-linear SVM, identify the model with best score and its parameters.
[Hint: Refer to model_selection module of Scikit learn]