1.Load the file “zoo.data” and look at the info and first five rows. The first column denotes the animal name and the last one specifies a high-level class for the corresponding animal.

2. Find out the unique number of high level class.

3. Use the 16-intermediate feature and perform an agglomerative clustering.
[ Hint: Refer to the agglomerative clustering module in scikit learn and set the number of clusters appropriately]

4. Compute the mean squared error by comparing the actual class and predicted high level class.

In [68]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [69]:
import seaborn as sns

In [70]:
dfzoo = pd.read_csv('zoo.csv')

In [71]:
dfzoo.shape

(101, 18)

In [72]:
dfzoo.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [73]:
dfzoo['class_type'].unique()

array([1, 4, 2, 7, 6, 5, 3], dtype=int64)

In [74]:
dfzoo['class_type'].value_counts()

1    41
2    20
4    13
7    10
6     8
3     5
5     4
Name: class_type, dtype: int64

In [75]:
from sklearn.cluster import AgglomerativeClustering

In [76]:
dfzoo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 18 columns):
animal_name    101 non-null object
hair           101 non-null int64
feathers       101 non-null int64
eggs           101 non-null int64
milk           101 non-null int64
airborne       101 non-null int64
aquatic        101 non-null int64
predator       101 non-null int64
toothed        101 non-null int64
backbone       101 non-null int64
breathes       101 non-null int64
venomous       101 non-null int64
fins           101 non-null int64
legs           101 non-null int64
tail           101 non-null int64
domestic       101 non-null int64
catsize        101 non-null int64
class_type     101 non-null int64
dtypes: int64(17), object(1)
memory usage: 14.3+ KB

In [77]:
agglomeric = AgglomerativeClustering(n_clusters=7)

In [78]:
actualclass = dfzoo['class_type']

In [79]:
dfzoo.drop(['class_type','animal_name'], inplace= True, axis=1)

In [80]:
agglomeric.fit(dfzoo)

AgglomerativeClustering(affinity='euclidean', compute_full_tree='auto',
                        connectivity=None, distance_threshold=None,
                        linkage='ward', memory=None, n_clusters=7,
                        pooling_func='deprecated')

In [81]:
agglomeric.labels_

array([1, 1, 2, 1, 1, 1, 1, 2, 2, 1, 1, 3, 2, 6, 0, 0, 3, 1, 2, 2, 3, 3,
       1, 3, 0, 5, 5, 4, 1, 4, 0, 1, 4, 3, 2, 1, 1, 3, 2, 0, 0, 3, 0, 3,
       1, 1, 0, 1, 1, 1, 1, 0, 5, 0, 1, 1, 3, 3, 3, 3, 2, 2, 6, 5, 1, 1,
       2, 1, 1, 1, 1, 3, 0, 2, 2, 4, 6, 6, 3, 3, 6, 6, 2, 3, 4, 0, 2, 3,
       0, 5, 5, 5, 2, 4, 1, 3, 4, 0, 1, 6, 3], dtype=int64)

In [82]:
dfzoo['newlabel'] = agglomeric.labels_+1

In [83]:
dfzoo['newlabel'].value_counts()

2    30
4    20
3    16
1    14
7     7
6     7
5     7
Name: newlabel, dtype: int64

In [84]:
from sklearn.metrics import mean_squared_error

In [85]:
mean_squared_error(actualclass, dfzoo.newlabel)

7.5049504950495045